.orange-bk {
  background-color: #ff9800;
}

.blue-bk {
  background-color: #03a9f4;
}

.dark-grey-bk {
  background-color: #31393C;
}

.grey {
  color: #424242;
}

.grey-darken-2 {
  color: #616161;
}

.grey-lighten-2 {
  color: #e0e0e0
}

.red {
  color: #f44336;
}

.green {
  color: #00e676;
}
